/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.body {
  margin: 5px;
  align-items: center;
}

.header-logo {
  width: 200px;
}

.button {
  background-color: #51B8F9;
  color: white;
  border-radius: 5px;
  border-color: #0079c4;
  margin: 10px 3px;
  width: 100px;

}


.sign-log-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 85%;
  margin: 10px;
}


.home-result-card {
  border: solid 2px #0079c4;
  width: 100%;
}

.home-doctor-card {
  border: solid 1px #0079c4;
}


.index-info-card {
  display: flex;
}

.index-info-card img {
  width: 120px;
}

.index-img-card {
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden-button{
  display: none
}
